CompileFlags:
  Add:
    - -std=gnu++20
    - -IC:/Users/kirit/Documents/Formula/okay-engine/proto/core
    - -IC:/Users/kirit/Documents/Formula/okay-engine/proto/core/okay/vendor
    - -IC:/Users/kirit/Documents/Formula/okay-engine/proto/core/okay/vendor/glm
    - -IC:/Users/kirit/Documents/Formula/okay-engine/proto/core/okay/vendor/glfw/include
