ompileFlags:
  Add:
    - -std=gnu++20
    - -ID:/Documents/Code/Personal-Projects/okay-engine
    - -ID:/Documents/Code/Personal-Projects/okay-engine/okay/vendor
    - -ID:/Documents/Code/Personal-Projects/okay-engine/okay/vendor/glm
    - -ID:/Documents/Code/Personal-Projects/okay-engine/okay/vendor/glfw/include
